/* general */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.section-title {
    font-size: 50px;
    font-weight: 600;
}
/* --navbar--*/
.navbar {
    text-transform: uppercase; /*MAYE  CHANGE*/
    background-color:rgb(0, 0, 0, 0.8);
}

.navbar-toggler:focus {
    outline: none;
}

#nav-logo {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.navbar-brand img {
    border-radius: 30%;
    transition: .5s;
}

.navbar-brand img:hover {
    filter: opacity(50%);
}

.navbar-nav li a {
    font-size: large;
    color: white !important;
    font-weight: 600;
    text-align: left;
    transition: .4s;
}
.navbar-dark .navbar-nav .nav-link.active {
    text-shadow: 0 0 10px white, 0 0 20px white;
}
.navbar-nav li a:hover, .navbar-nav li a:active {
    padding-right: .7rem;
    text-shadow: 0 0 10px white, 0 0 20px white;
}

/*banner section*/
.banner {
    padding-top: 80px;
    text-align: center;
    background-color: black;
    border-radius: 0;
    color: white;
    box-shadow: -3px 10px 10px rgb(66, 66, 66);
}

.banner h1 {
    font-size: 55px;
}
.banner h3 {
    padding-bottom: 40px;
}
#main-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 5px;
}

/* about section */
#about {
    margin: 100px 0;
    padding-top: 10px;
    font-size: 20px;
}

#about-me-div {
    text-align: right;
}


#about-me-text {
    font-weight: 200;
    text-align: justify;
}

#profile-pic {
    width: 457px;
    height: 485px;
    box-shadow: 1px 10px 10px;
}

/*skills*/
.jumbotron{
    margin-top: 40px;
}
.skill ul{
    list-style-type: none;
    text-align: center;
    padding-bottom: 10px;
}
.skill-list-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px ;
    text-align: center;
}
.edu li{
    list-style-type: none;
    text-align: center;
}
/*portfolio sectoin*/
#portfolio {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 200px;
}
.proj {
    border: white 1px solid;
}

.portfolio-img-div {
    text-align: center;
}

.projects {
    margin-top: 50px;
}

.project-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.project-cover {
    transition: .3s;
    margin-bottom: 60px;
    
}

.project-cover:hover {
    transform: scale(1.25);
    position: relative;
    z-index: 1; 
    background-color: black;
    box-shadow: 0 0 20px 20px black;
}

.project-caption span {
    visibility: visible;
}

.project-caption:hover span {
    visibility: hidden;
}
/*contact section*/

#contact-title {
    padding-top: 50px;
}

#form {
    font-size: 20px;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

input:focus {
    outline: none;
}

textarea {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%
}

textarea:focus {
    outline: none;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    transition: .3s;
}
/*footer*/
#footer {
    padding: 20px;
    text-align: center;
}

.social-media-icon {
    font-size: 50px;
    color: black;
    padding: 10px;
}

.social-media-icon:hover {
    color: rgb(141, 140, 140);
    position: relative;
    top: -5px;
}

#footer-logo {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform .3s ease-in-out;
}

#footer-logo:hover {
    transform: rotate(360deg);
}
